params {
    csv_file = "/home/nishant.shekhar/nextflow-pipeline/rna-seq/sample_file.csv"

    outdir = "res"   
}


/*
Adding the output files to the outdir folder
*/
process {
    withName:multiqc_process {
            publishDir = [
                [
                    path: { "$params.outdir/report/" },
                    pattern: "*.html",
                    mode: 'link'
                ]
            ]
        }
}
